.common-modal-popup {
  .modal-title {
    font-size: $font-size-large;
  }

  .checkbox-row {
    .form-check {
      width: 20px;
      height: 20px;
    }
  }

  .modal-footer {
    .save-btn,
    .save-btn-details {
      background-color: $primary-color;
      color: $white-color;
      border-color: $primary-color;
    }

    .cancel-btn {
      background-color: transparent;
      color: $primary-color;
      border-color: $primary-color;
    }

    .btn {
      padding: 9px 30px;
    }
  }

  .message-center-content {
    .message-body {
      overflow: auto;
      height: 500px;
    }
  }
}
