// Color
$white-color: #ffffff;
$bg-color: #e5e5e5;
$primary-color: #0d5085;
$secondary-color: #0a3c64;
$link-color: #07a7e0;
$para-color: #4d4d4d;
$black-color: #212529;
$border-color: #ced4da;
$border-bottom: #dee2e6;
$light-grey: #d5d5d5;
$green-color: #8ec53f;

// Font Family
$font-family-sans-serif: "Roboto", sans-serif;

// Font size
$font-size-base: 1rem;
$font-size-xsmall: 12px;
$font-size-small: 13px;
$font-size-regular: 14px;
$font-size-15: 15px;
$font-size-large: 18px;
$font-size-xlarge: 22px;

// Font weight
$font-weight-base: 500;
$font-weight-light: 300;
$font-weight-400: 400;
$font-weight-bold: 600;